body[data-theme="light"]
{
    --hf-bg-color: #18c072;
}

body[data-theme="dark"]
{
    --hf-bg-color: #111111;
}


.Dron-IR{
    color: #FFFFFF;
}

body {
    font-family: 'Quicksand', sans-serif;
}
.btn-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #333;
    color: #fff;
    border: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;    
    cursor: pointer;
}
body.dark {
    color: #fff!important;
    background: #333!important;
}
body.dark .btn-toggle {
    background: #f1f1f1;
    color: #333;
}
header {
    grid-area: head;
    text-align: center;
    background-color: var(--hf-bg-color);
    font-family: Brush Script MT, Brush Script Std, cursive ;
}
nav {
    grid-area: nav;
    background-color: var(--hf-bg-color);
    color: #3498DB;
}
aside {
  /* margin: 10px 0px 10px 10px; */
  border-width: 3px;
  border-style: solid;
  border-image:
    linear-gradient(
      to bottom,
      white,
      #03b44d,
      white
    ) 1 100%;
    padding: 10px;
  /* border-left: 0.05em solid linear-gradient(white, #2874a6, white); */
  /* border-radius: 10px; */
}
section {
    grid-area: section;
    background-color: #FFFFFF;


}
section h2{
  color: #3fb15c;
  padding-left: 30px;
  text-align: center;
  margin: 50px 0;
  font-size: 35px;
  font-weight: lighter;
  font-variant-caps: small-caps;

}
section div.quatre_colonnes{
  display: grid;
  grid-template-columns: repeat(4,1fr);
 background-color: #FFFFFF;
}
section div.quatre_colonnes p {
text-align: center section;
font-size: 22px;
font-weight: normal;
}
.Pspe{
    padding-left: 25px;
}
section div span {
    color: #3fb15c;
}

footer {
    grid-area: footer;
    background-color: var(--hf-bg-color);
}
footer {
    display: grid;
    grid-template-columns: 1fr 33% 33%;
    width: auto;
    color: #FFFFFF;
    }
nav a {
    padding: 30px;
}
.bas {
    display: infine ;
    text-align: center;
    margin: 30px 250px 20px 250px;
}

.Dron-IR {
    display: inline;
    text-align: centre;

}
h1 {
    color: #03b44d;

}
section img#AF1 {
  float: left;
    padding:30px 30px 30px 0px;
    height: 350px;
    width: 360px;
}

section img#AF2 {
  float: left;
    padding:40px 40px 30px 0px;
    height: 350px;
    width: 360px;
}
